<nav>
    <ul class="slide-left__unorderd_list" id="headerDropdoenClick">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="slide-right__list"><a href="#signup">Sign Up</a></li>
        <li class="slide-right__list"><a href="#singin">Sign In</a></li>
        <li class="dropdown_icon"><a href="javascript:void(0);" ng-click="$ctrl.renderDropDownMenu()">&#9776;</a></li>
    </ul>
</nav>
<link rel="stylesheet" type="text/css" href="/demoApp/header.component/header.component.css">