<div class="mater-admin-container__div" ng-style="{height: $ctrl.screenHeight}">
    <div class="row master-admin-main-title__div">
        <div class="col-lg-12 master-admin-main-title__header">
            <h4>Home/ Configure</h4>
        </div>
    </div>
    <div class="row main-admin-configure-container__div">
        <div class="col-lg-12">
            <h4 class="main-admin-configure__header"><b>Configure</b></h4>
        </div>
    </div>
    <div class="row main-admin-configure-container__div">
        <div class="col-sm-12 main-admin-configure-inner-container__div">
            <!-- new Admin master component -->
            <div class="row main-admin-configure-inner-container__div">
                <div class="col-lg-12 admin-master-column-container__div admin-master-column-inner-content__div">
                    <div class="row main-admin-configure-inner-container__div">
                        <div class="col-sm-6 main-admin-header-content__div">
                            <h4><b>Admin Masters ({{$ctrl.cardContents.length || '0'}})</b></h4>
                        </div>
                        <div class="col-sm-6 main-admin-header-content__div">
                            <input type="text" id="mainHeaderInputBox" placeholder="Search" title="Type in a name" ng-model="searchText.title">
                        </div>
                    </div>
                    <div class="row" style="padding: 0px 20px 0 20px; margin: 0px">
                        <div class="col-sm-3 main-admin-header-content__div" style="text-align: center;" ng-repeat="(key, value) in $ctrl.cardContents | filter:searchText">
                            <div class="row main-admin-configure-inner-container__div">
                                <div class="col-sm-3 main-admin-configure-inner-container__div" style="padding-top: 5px;">
                                    <img class="main-admin-card__icons" src="/demoApp/assets/university-solid.svg" ng-src="{{value.cardIconPath}}"></div>
                                <div class="col-sm-9 main-admin-card-content__details">
                                    <div class="main-admin-card-content-inner__div">
                                        <h5 class="main-admin-card-content-inner__header">{{value.title}}</h5>
                                    </div>
                                    <div class="main-admin-card-content-inner__paragraph-div">
                                    	<p class="main-admin-card-content-inner__paragraph">
                                    		{{value.content}}
                                    	</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/demoApp/main.component/master-admin.component/master-admin.component.css">