<div class="row main-container__div">
    <div class="row main-title__heading">
        Food & Drink For Dummies
    </div>
    <div class="col-md-6 main-img-container__div">
        <div class="main-img-container__div">
            <img style="width: 100%;" src="./demoApp/assets/main-img.jpg">
        </div>
    </div>
    <div class="col-md-6 main_content-container__div">
        <div class="main-header-content__div">
            Lorem Ipsum
        </div>
        <div class="main-header-content__div-para">
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        </div>
    </div>
</div>
<div class="row main-container__div">
    <br>
    <hr>
    <br>
    <div class="col-md-12 main-title__heading">
        Today's Cards
    </div>
</div>
<main-card-component card-contents="$ctrl.cardDetails"></main-card-component>
<!-- {{mainVm.cardDetails}} -->
<!-- <main-card-component card-detials="mainVm.cardDetails"></main-card-component> -->
<!-- <div class="row main-container__div">
    <div class="col-sm-4 main-card-container__div" ng-repeat="(key, value) in $ctrl.cardDetails">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{value.title}}</h4>
                <p class="card-text">{{value.details}}</p>
                <a href="#" class="btn btn-default btn-sm">{{value.btnTitle}}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 main-card-container__div">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Title 2</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-default btn-sm">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 main-card-container__div">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Title 3</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-default btn-sm">Go somewhere</a>
            </div>
        </div>
    </div>
</div> -->
<!-- </div> -->
<link rel="stylesheet" type="text/css" href="/demoApp/main.component/main.component.css">